body {
    margin: 0;
    background-color: #A9A5AE;
}

h1{
    margin: 0;
}

h2{
    padding-left: 15%;
}

h3{
    padding-left: 15%;
}

h4{
    margin: 0;
    display: inline;
}

p{
    width: 40%;
    padding-left: 20%;
}

.name{
    font-family: 'Edu QLD Beginner', cursive;
    padding-top: 8px;
    font-size: 4rem;
}

.header{
    text-align: center;
    margin: 0;
    background-color: azure;
}

.main{
    background-color: #A9A5AE;
    height: 500px;
    width: 100%;
    margin-top: 0;
}

.pic{
    width: 100%;
}

.fromStr{
    width: 100%;
}

.img{
    width: 60%;
    display: block;
    margin: 1rem auto auto auto;
    border-radius: 15px;
}

#secondFloor{
    height: 400px;
}


.content{
    border-radius: 30px;
    background-color:#dbdadf;
    width: 90%;
    margin: -100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.footer{
    display: block;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: grey;
    bottom: 0;
}

.foot{
    display: inline-block;
    margin-left: 20%;
    margin-bottom: 20px;
    width: 60%;
    padding-bottom: 20px;
    background-color: #A9A5AE;
    border-radius: 30px;
    text-align: center;
}

input{
    width: 60%;
}
textarea{
    width: 60%  ;
}
a{
    text-decoration: none;
    color: darkslategrey;
}
a:hover{
    color:dimgrey;
}